@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 245, 245;
  --background-start-rgb: 2, 2, 2;
  --background-end-rgb: 20,20,20;
}

body {
  color: theme('colors.slate.200');

  color-scheme: dark;

  background: theme('colors.neutral.950');
  background: linear-gradient(150deg, theme('colors.neutral.950') 0%, theme('colors.slate.900') 100%);

  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
}

::-webkit-scrollbar {
  @apply w-[6px] h-[6px];
}

::-webkit-scrollbar-track {
  @apply rounded-[1px] bg-slate-800;
}

::-webkit-scrollbar-thumb {
  @apply rounded-sm cursor-move bg-slate-700 hover:bg-slate-600 ;
}

/* Material ui */
button {
  text-transform: none !important;
}
